# Twilio Account Credentials
# Use com: tam pull --env-file .env --account my-account

TWILIO_ACCOUNT_NAME=my-account
TWILIO_ENVIRONMENT=dev
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_API_KEY_SID=SKxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_API_KEY_SECRET=your_api_key_secret_here
